body 
{ 
	FONT-WEIGHT: normal; 
	FONT-SIZE: x-small; 
	COLOR: #000000; 
	LINE-HEIGHT: normal; 
	FONT-STYLE: normal; 
	FONT-FAMILY: Arial, Helvetica, Sans-Serif;
	BACKGROUND-COLOR: white; 
	TEXT-DECORATION: none; 
}

A:hover 
{
	text-decoration: underline;
}

A
{
	color: blue;
	text-decoration: none;
}

.top_menu_white
{
	font-weight: bold;
	font-size: 10pt;
	padding-bottom: 3px;
	color: #ffffff;
	padding-top: 3px;
	font-family: Arial;
	text-align: center;
}
.top_menu_black
{
	font-weight: bold;
	font-size: 10pt;
	color: #000000;
	font-family: Arial;
}

.black_header
{
	font-weight: bold;
	font-size: 16pt;
	color: #000000;
	font-family: Arial;
}

.leftmenu_heading {
	font-family: arial;
	font-size: 11px;
	color: #E16425;
	font-weight: bold;
}
.leftmenu {
	font-family: arial;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	line-height: 15px;
}
.bold_red
{
	font-weight: bold;
	font-size: 12pt;
	color: #bb0000;
	font-family: Arial;
}
.left_border
{
	border-left: lightgrey thin solid;
}
.forum_content {
	font-family: Verdana, Arial;
	font-size: 12px;
}
.artikkel_tekst {
	font-family: arial;
	font-size: 11px;
	color: #000000;
}
.artikkel_header {
	font-family: arial;
	font-size: 20px;
	font-weight: bold;
	color: #000000;
}
.artikkel_liste_dato_tid {
	font-family: arial;
	font-size: 11px;
	color: #292A65;
	font-weight: bold;
}
.artikkel_liste_title {
	font-family: arial;
	font-size: 11px;
	color: #5161AC;
}
.artikkel_bottomtekst {
	font-family: arial;
	font-size: 11px;
	color: #626262;
}
.artikkel_bottomlink {
	font-family: arial;
	font-size: 11px;
	color: #475E93;
}
.forside_portaltekst {
	font-family: arial;
	font-size: 11px;
	color: #E16425;
	font-weight: bold;
}
.forside_sistenytt {
	font-family: arial;
	font-size: 11px;
	color: #000000;
}
.forside_mobil {
	font-family: arial;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
}
.forside_scanpixebildetekst {
	font-family: arial;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
}
.bedriftorg_boxtext {
	font-family: arial;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
}

.viewHeadline
{
    FONT-WEIGHT: bold;
    FONT-SIZE: small;
    MARGIN-BOTTOM: 10px;
    COLOR: #000066;

}

.viewDate
{
    FONT-SIZE: xx-small;
    MARGIN-BOTTOM: 10px
}

.viewIngress
{
    MARGIN-TOP: 7px;
    FONT-WEIGHT: bold;
    FONT-SIZE: x-small;
    MARGIN-BOTTOM: 5px
}

.viewHl2
{
    MARGIN-TOP: 8px;
    FONT-WEIGHT: bold;
    FONT-SIZE: x-small;
    FONT-STYLE: italic;
    FONT-VARIANT: normal
}

.viewEdMsg
{
    FONT-SIZE: xx-small;
    MARGIN-BOTTOM: 5px;
    COLOR: #d33366
}
.viewTagline
{
    MARGIN-TOP: 10px;
    FONT-SIZE: xx-small;
    MARGIN-BOTTOM: 5px;
    FONT-STYLE: italic
}
.viewByline
{
    FONT-SIZE: x-small;
    FONT-STYLE: italic
}

.viewTable
{
    FONT-WEIGHT: normal;
    FONT-SIZE: x-small;
    LINE-HEIGHT: normal;
    FONT-STYLE: normal;
    FONT-FAMILY: Myriad, Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
    TEXT-DECORATION: none
}
.viewTableHead
{
    FONT-WEIGHT: normal;
    FONT-SIZE: xx-small;
    LINE-HEIGHT: normal;
    FONT-STYLE: italic;
    FONT-FAMILY: Myriad, Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
    TEXT-DECORATION: none
}
.viewNews
{
    FONT-WEIGHT: normal;
    FONT-SIZE: x-small;
    LINE-HEIGHT: normal;
    PADDING-TOP: 8px;
    FONT-STYLE: normal;
    FONT-FAMILY: Myriad, Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
    TEXT-DECORATION: none
}
.viewIndent
{
    FONT-WEIGHT: normal;
    FONT-SIZE: x-small;
    TEXT-INDENT: 20px;
    LINE-HEIGHT: normal;
    FONT-STYLE: normal;
    FONT-FAMILY: Myriad, Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
    TEXT-DECORATION: none
}
.formbutton
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #000000;
    LINE-HEIGHT: normal;
    FONT-STYLE: normal;
    FONT-FAMILY: Myriad, Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
    TEXT-DECORATION: none
}
.news11
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #003366;
    LINE-HEIGHT: 12px;
    FONT-STYLE: normal;
    FONT-FAMILY: Myriad, Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
    TEXT-DECORATION: none
}


