<%@ Outputcache Duration="60" Location="Any" VaryByParam="*"%>
<%@ Page EnableSessionState="false" Language="vb" AutoEventWireup="false" Inherits="intranett.header2" CodeFile="header.aspx.vb" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
	<title>intern.ntb.no</title>
	<link rel="stylesheet" href="css/styles.css">
</head>

<!--
<script type="text/javascript" src="includes/overlib/overlibmws.js"></script>
<script type="text/javascript" src="includes/overlib/overlibmws_hide.js"></script>
<script type="text/javascript" src="includes/overlib/overlibmws_iframe.js"></script>
<script type="text/javascript" src="includes/overlib/overlibmws_shadow.js"></script>
-->

<script language="javascript">
<!--
/*
var ol_vpos = VCENTER;
var ol_width= 230;
var ol_hidebyidall = 'flashDiv';

var ol_fgcolor = '#FFFFFF';
var ol_bgcolor = '#E16425';
var ol_cgcolor = '#E16425';

var ol_textcolor = '#000000';
var ol_capcolor = '#FFFFFF';

var ol_textsize = '10px'
var ol_captionsize = '10px'
*/
//-->
</script>

<body leftmargin=0 topmargin=0 marginwidth=0 marginheight=0>
<div id="overDiv" style="position:absolute; visibility:hidden; z-index:1000;"></div>

<!--
<img src="images/t.gif" height=4 width=1><br>
-->

<!--
<SCRIPT LANGUAGE="JavaScript">
var MM_contentVersion = 6;
var plugin = (navigator.mimeTypes && navigator.mimeTypes["application/x-shockwave-flash"]) ? navigator.mimeTypes["application/x-shockwave-flash"].enabledPlugin : 0;
if ( plugin ) {
		var words = navigator.plugins["Shockwave Flash"].description.split(" ");
	    for (var i = 0; i < words.length; ++i)
	    {
		if (isNaN(parseInt(words[i])))
		continue;
		var MM_PluginVersion = words[i]; 
	    }
	var MM_FlashCanPlay = MM_PluginVersion >= MM_contentVersion;
}
else if (navigator.userAgent && navigator.userAgent.indexOf("MSIE")>=0 
   && (navigator.appVersion.indexOf("Win") != -1)) {
	document.write('<SCR' + 'IPT LANGUAGE=VBScript\> \n'); //FS hide this from IE4.5 Mac by splitting the tag
	document.write('on error resume next \n');
	document.write('MM_FlashCanPlay = ( IsObject(CreateObject("ShockwaveFlash.ShockwaveFlash." & MM_contentVersion)))\n');
	document.write('</SCR' + 'IPT\> \n');
}
if ( MM_FlashCanPlay ) {
		var oeTags = '<div id="flashDiv" style="position:relative; width:100%; z-index:1;"><OBJECT classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" WIDTH="800" HEIGHT="60" id="topp" ALIGN=""><PARAM NAME=movie VALUE="images/swf/topp03.swf"><PARAM NAME=quality VALUE=high><PARAM NAME=bgcolor VALUE=#FFFFFF><EMBED src="images/swf/topp03.swf" quality=high bgcolor=#FFFFFF  WIDTH="800" HEIGHT="60" NAME="topp" ALIGN="" TYPE="application/x-shockwave-flash" PLUGINSPAGE="http://www.macromedia.com/go/getflashplayer"></EMBED></OBJECT></div>';
		document.write(oeTags); 	// embed the flash movie
} else{
		var alternateContent = '<img src="images/swf/flash.gif" width="800" height="60" alt="" border="0">'	// height, width required!
		document.write(alternateContent);	// insert non-flash content
}
//
</SCRIPT>-->

<img src="images/t.gif" height=2 width=1><br>
<table width="900" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td align=right colspan=2 class="top_menu_black" >
		<a href="http://www.vg.no/nyheter/siste48/" class="top_menu_black" target=_top>VG</a> -
		<a href="http://www.dagbladet.no/oppdatert/" class="top_menu_black" target=_top>Dagbladet</a> -
		<a href="http://www.aftenposten.no/nyheter/siste100/" class="top_menu_black" target=_top>Aftenposten</a> -
		<a href="http://www.nrk.no/nyheter/norge/" class="top_menu_black" target=_top>NRK</a> -
		<a href="http://www.nettavisen.no/nyheter" class="top_menu_black" target=_top>Nettavisen</a> -
		<a href="http://www.dn.no/" class="top_menu_black" target=_top>DN</a> -
		<a href="http://www.siste.no/" class="top_menu_black" target=_top>ANB</a>

		</td>
	</tr>

	<tr>
		<td bgcolor="#CCE979" align=left width=200 valign=bottom style="padding-left:10px;">
		<a href="/" target="_top" class="black_header">
		    intern.ntb.no<br />
		    <!-- <span style="font-size:10pt; font-weight:normal;">Intranettet for Scanpix og NTB</span> -->
		    <span style="font-size:10pt; font-weight:normal;">Intranettet for NTB og Scanpix</span>
		</a></td>
		<td bgcolor="#CCE979" align=right width=600>
			<img src="images/t.gif" height=1 width=1><br>
			
		</td>
	</tr>

	<tr>
		<td colspan=2><img src="images/t.gif" height=2 width=1><br></td>
	</tr>
</table>

<table width="900" border="0" cellspacing="0" cellpadding="0">

	<tr>
		<td width=100 bgcolor="#3366FF" class="top_menu_white">
			<a href="http://www.portal.ntb.no" class="top_menu_white" target="_top">NTB Portal</a>
		</td>
		<td width=2><img src="images/t.gif" height=0 width=2><br></td>
		
		<td width=98 bgcolor="#3366FF" class="top_menu_white">
			<a href="http://www.ntb.no" class="top_menu_white" target="_top">www.ntb.no</a>
		</td>

		<td width=2><img src="images/t.gif" height=0 width=2><br></td>
		
		<td width=98 bgcolor="#3366FF" class="top_menu_white">
			<a href="http://www.ntbinfo.no" class="top_menu_white" target="_top">NTB Info</a>
		</td>
		<td width=2><img src="images/t.gif" height=0 width=2><br></td>
		
		<td width=98 bgcolor="#3366FF" class="top_menu_white">
			<a href="http://fiffus.ntb.no/wire/" class="top_menu_white" target="_top">Byr&aring;ene</a>
		</td>

		<td width=2><img src="images/t.gif" height=0 width=2><br></td>
		
		<td width=98 bgcolor="#3366FF" class="top_menu_white">
			<a href="section.aspx?section=ARKIV" class="top_menu_white" target="main">Atekst</a>
		</td>
		<td width=2><img src="images/t.gif" height=0 width=2><br></td>
		
		<td width=98 bgcolor="#3366FF" class="top_menu_white">
			<a href="section.aspx?section=SCANPIX" class="top_menu_white" target="main">Scanpix</a>
		</td>

		
		<td width=2><img src="images/t.gif" height=0 width=2><br></td>
		
		<td width=98 bgcolor="#3366FF" class="top_menu_white">
			<a href="http://www.nyhetsgrafikk.no" class="top_menu_white" target="_top">Nyhetsgrafikk</a>
		</td>
		
		<td width=2><img src="images/t.gif" height=0 width=2><br></td>
		
		<td width=98 bgcolor="#3366FF" class="top_menu_white">
			<a href="http://fretex.ntb.no/" class="top_menu_white" target="_top">Fretex</a>
		</td>

		<td width=2><img src="images/t.gif" height=0 width=2><br></td>
		
		<td width=98 bgcolor="#3366FF" class="top_menu_white">
			<a href="https://mail.ntb.no/owa/" class="top_menu_white" target="_top">Min e-post</a> 
		</td>
		<td width=2><img src="images/t.gif" height=0 width=2><br></td>
		
		<!-- <td width=98 bgcolor="#3366FF" class="top_menu_white">
			<a href="internavis" class="top_menu_white" target="_top">Internavisa</a>
		</td> -->
	</tr>

	<tr>

		<td colspan=16><img src="images/t.gif" height=2 width=1><br></td>
	</tr>
</table>

<table width="900" border="0" cellspacing="0" cellpadding="0">
	<tr>	
		<td width=155 align=left valign=middle class="forside_scanpixebildetekst">
			<select name="Tips" size="1" onchange="window.open(this.options[this.selectedIndex].value, '_top')" style="font-size: 7pt; font-family: Verdana">
                <option selected value="">Tips oss om:</option>
                <option value="mailto:hv@ntb.no">Intranettet</option>

                <option value="mailto:marked@ntb.no">Marked</option>
                <option value="mailto:505@ntb.no">IT</option>
              </select>
		</td>
		
		<td width=155  align=center valign=middle class="forside_scanpixebildetekst">
			<select name="Norske aviser" size="1" onchange="window.open(this.options[this.selectedIndex].value, '_top')" style="font-size: 7pt; font-family: Verdana">
                <option selected value="">Nettaviser, Norge:</option>

                <option value="section.aspx?section=ALLE_AVISER">ALLE AVISER</option>
                <option value="http://www.adressa.no/">Adresseavisen</option>
                <option value="http://www.aftenposten.no">Aftenposten</option>
                <option value="http://www.ba.no/">Bergensavisen</option>
                <option value="http://www.bergens-tidende.no/">Bergens Tidende</option>
                <option value="http://www.dagbladet.no">Dagbladet</option>

                <option value="http://www.dagsavisen.no">Dagsavisen</option>
                <option value="http://www.dn.no/">Dagens N&aelig;ringsliv</option>
                <option value="http://www.dt.no/">Drammens Tidende</option>
                <option value="http://www.fevennen.no/">F&aelig;drelandsvennen</option>
                <option value="http://www.f-b.no/">Fredriksstad Blad</option>
                <option value="http://www.h-a.no/">Hamar Arbeiderblad</option>

                <option value="http://www.hegnar.no/">Hegnar Online</option>
                <option value="http://www.klassekampen.no/">Klassekampen</option>
                <option value="http://www.nationen.no/">Nationen</option>
                <option value="http://www.nettavisen.no">Nettavisen</option>
                <option value="http://www.nordlys.no/">Nordlys</option>
                <option value="http://stavanger-aftenblad.no/">Stavanger Aftenblad</option>
                <option value="http://www.smp.no/">Sunnm&oslash;rsposten</option>

                <option value="http://www.rb.no">Romerikes Blad</option>
                <option value="http://www.tb.no">T&oslash;nsberg Blad</option>
                <option value="http://www.vg.no">VG</option>
                <option value="http://www.vl.no">V&aring;rt Land</option>
              </select>

        </td>
		<td width=155  align=center valign=middle class="forside_scanpixebildetekst">
		<select name="Utenlandske aviser" size="1" onchange="window.open(this.options[this.selectedIndex].value, '_top')" style="font-size: 7pt; font-family: Verdana">
                <option selected value="">Nettaviser, utland:</option>
                <option value="http://www.onlinenewspapers.com/">ALLE AVISER</option>
                <option value="http://www.thebigproject.co.uk/news/">Engelskspr&aring;klige</option>
                <option value="">----------</option>
				<option value="http://www.aftonbladet.se/">Aftonbladet</option>
                <option value="http://www.dn.se/">Dagens Nyheter</option>

                <option value="http://www.expressen.se/">Expressen</option>
				<option value="http://www.svd.se/">Svenska Dagbladet</option>
                <option value="">----------</option>
                <option value="http://www.berlingske.dk/">Berlingske</option>
                <option value="http://www.ekstrabladet.dk/">Ekstra Bladet</option>
                <option value="http://www.jp.dk">Jyllandsposten</option>

                <option value="http://www.politiken.dk">Politiken</option>
                <option value="">----------</option>
				<option value="section.aspx?section=ECONOMIST">Economist</option>
                <option value="http://news.ft.com/home/europe">Financial Times</option>
                <option value="http://www.guardian.co.uk">Guardian</option>
                <option value="http://www.independent.co.uk">Independent</option>

                <option value="http://www.telegraph.co.uk">Telegraph</option>
                <option value="http://www.the-times.co.uk">The Times</option>
                <option value="">----------</option>
                <option value="http://www.spiegel.de">Der Spiegel</option>
                <option value="http://www.zeit.de">Die Zeit</option>

                <option value="">----------</option>
				<option value="http://www.elpais.es/">El Pais.</option>
                <option value="">----------</option>
				<option value="http://www.iht.com/">Int. Herald Tribune</option>
                <option value="http://www.latimes.com/">Los Angeles Times</option>
				<option value="http://www.newsweek.com/">Neewsweek</option>

                <option value="http://www.nytimes.com/">New York Times</option>
                <option value="http://www.time.com">Time</option>
	            <option value="http://www.usatoday.com/ ">USA Today</option>
                <option value="http://online.wsj.com/public/us">Wall Street Journal</option>
                <option value="http://www.washingtonpost.com">Washington Post</option>
                <option value="">----------</option>

				<option value="http://www.mondediplo.com/">Le Monde Dip.</option>
	            <option value="http://www.foreignreport.com/">Foreign Report</option>
	            <option value="http://www.foreignpolicy.com/">Foreign Policy</option>
	            <option value="http://www.foreignaffairs.org/">Foreign Affairs</option>
			</select>
        </td>
		<td width=155  align=center valign=middle class="forside_scanpixebildetekst">

			<select name="Radio-Tv" size="1" onchange="window.open(this.options[this.selectedIndex].value, '_top')" style="font-size: 7pt; font-family: Verdana">
                <option selected value="">Radio/TV:</option>
                <option value="http://www.nrk.no">NRK</option>
                <option value="http://pub.tv2.no/TV2">TV2</option>
                <option value="http://www.tvnorge.no">TVNorge</option>
                <option value="http://www.p4.no/">P4</option>
                <option value="http://www.kanal24.no">Radio Norge</option>
                <option value="">------------------</option>
                <option value="http://english.aljazeera.net/HomePage">Al Jazeera</option>
                <option value="http://news.bbc.co.uk/">BBC</option>
                <option value="http://www.cnn.com/">CNN</option>

                <option value="http://www.sr.se/ekot">Sveriges Radio</option>
                <option value="http://www.svt.se/">SVT</option>
              </select>
        </td>
		
		<td width=155  align=center valign=middle class="forside_scanpixebildetekst">
			<select name="Nisjenyheter" size="1" onchange="window.open(this.options[this.selectedIndex].value, '_top')" style="font-size: 7pt; font-family: Verdana">
				<option selected value="">Nisjenyheter:</option>

                <option value="http://forbrukerportalen.no/Emner/forbrukerrapporten">Forbrukerrapporten</option>
                <option value="http://www.kommunal-rapport.no/">Kommunal Rapport</option>
                <option value="http://www.boarding.no/">www.boarding.no</option>
                <option>------------------</option>
                <option value="http://www.grunder.no/">&Oslash;konomisk Rapport</option>
                <option value="http://www.dinepenger.no">Dine Penger</option>

                <option value="http://www.hegnar.no/">Hegnar Online</option>
                <option value="http://www.imarkedet.no/">iMarkedet</option>
				<option value="http://www.forbes.com/">Forbes</option>
				<option value="http://money.cnn.com/magazines/fortune/">Fortune</option>
				<option value="http://www.businessweek.com">Business Week</option>
                <option>------------------</option>

                <option value="http://www.computerworld.no/">Computerworld</option>
                <option value="http://www.dagensit.no">Dagens IT</option>
                <option value="http://www.digi.no/">digi.no</option>
                <option value="http://www.itavisen.no/">ITavisen</option>
                <option>------------------</option>
                <option value="http://www.tekniskukeblad.no/">Teknisk Ukeblad</option>

                <option value="http://www.nature.com/">Nature</option>
                <option value="http://www.newscientist.com/">New Scientist</option>
                <option value="http://www.popsci.com/popsci/">Popular Science</option>
                <option value="http://www.sciencemag.org/">Science Mag</option>
            </select>
        </td>
		
		<td width=155  align=center valign=middle class="forside_scanpixebildetekst">

			<select name="Byraaer" size="1" onchange="window.open(this.options[this.selectedIndex].value, '_top')" style="font-size: 7pt; font-family: Verdana">
				<option selected value="">Byr&aring;er:</option>
                <option value="http://www.siste.no/">ANB-nyheter</option>
                <option value="http://www.anb.no/">ANB</option>
                <option value="http://www.stt.fi/uutispalvelu/A029072/index.php?u=A029072&s=3377b830f7089f0c0847d42990177480">FNB-nyheter</option>
                <option value="http://www.stt.fi/sv/">FNB/STT</option>

                <option value="section.aspx?section=RITZAU_NYHETER">Ritzau-nyheter</option>
                <option value="http://www.ritzau.dk/">Ritzau</option>
                <option value="section.aspx?section=TT_NYHETER">TT-nyheter</option>
	            <option value="http://www.tt.se/">TT</option>
	            <option value="http://www.peoplesearchpro.com/journalism/news/newsagencies.htm">Oversikt</option>
                <option value="">--------------</option>
                <option value="http://www.afp.com/english/home">AFP</option>

                <option value="http://www.ap.org">AP</option>
                <option value="http://www.bloomberg.com/">Bloomberg</option>
                <option value="http://www.dpa.de/en/unternehmenswelt/news_popup_index.html">DPA</option>
                <option value="http://www.ipsnews.net/no/">IPS</option>
                <option value="http://www.itar-tass.com/eng/">ITAR-TASS</option>
                <option value="http://www.newswire.no/">Newswire</option>

                <option value="http://www.reuters.co.uk">Reuters</option>
                <option value="http://www.upi.com">UPI</option>
                <option>--------------</option>
                <option value="http://www.africanews.org/ ">Afrika</option>
                <option value="http://www.bns.ee">Baltikum</option>
                <option value="http://www.belga.be/EN/home.asp?lang=EN">Belgia</option>

                <option value="http://www.canpress.ca">Canada</option>
                <option value="http://www.ritzau.dk">Danmark</option>
                <option value="http://www.stt.fi/">Finland</option>
                <option value="http://www.irna.com">Iran</option>
                <option value="http://home.kyodo.co.jp/">Japan</option>
                <option value="http://www.anp.nl">Nederland</option>

                <option value="http://www.efe.es">Spania</option>
                <option value="http://www.tt.se">Sverige</option>
                <option value="http://www.anadoluajansi.gov.tr/english.php">Tyrkia</option>
                <option value="http://www.apa.co.at">&Oslash;sterrike</option>
			</select>
        </td>

		<td width=155  align=right valign=middle class="forside_scanpixebildetekst">
			<select name="Medienyheter" size="1" onchange="window.open(this.options[this.selectedIndex].value, '_top')" style="font-size: 7pt; font-family: Verdana">
				<option selected value="">Medienyheter:</option>
                <option value="http://www.journalisten.no">Journalisten</option>
                <option value="http://www.mediebedriftene.no/index.asp?id=23061">MBL Nyheter</option>
                
                <option value="http://www.kampanje.com">Kampanje</option>
                <option value="http://www.propaganda-as.no">Propaganda</option>

                <option value="http://presse.no/Pressens_Faglige_Utvalg_PFU/PFU-uttalelser/">PFU-uttalelser</option>
			    <option value="http://www.tns-gallup.no/default.aspx?aid=9072497">TNSGallup Medier</option>
			    <option value="http://www.ij.no">IJ</option>
			    <option value="">--------------</option>
				<option value="http://www.ajr.org/">American JR</option>
				<option value="http://www.cjr.org/">Columbian JR</option>
				<option value="http://www.ojr.org/">Online JR</option>
				
                <option value="http://www.poynter.org/">Poynter Online</option>
                <option value="http://www.paidcontent.org/">Paid Content</option>
                <option value="http://www.hackshackers.com/">Hacks/Hackers</option>
            </select>
        </td>
       </tr>          
</table>

</body>
</html>