﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="SectionPictures.aspx.vb" Inherits="SectionPictures" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Load Section pictures</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <asp:Table ID="table1" runat="server">
       
    </asp:Table>
        
    </div>
    </form>
</body>
</html>
