<%@ Page Language="VB" AutoEventWireup="false" CodeFile="rating.aspx.vb" Inherits="rating_rating" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="no">
<head runat="server">
<meta http-equiv="content-type" content="text/html;">
    <title>Rating</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    
    
    
    </form>
</body>
</html>
