<%@ Page Language="vb" AutoEventWireup="false" Inherits="intranett.kunde_default" CodeFile="kunde_default.aspx.vb" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Frameset//EN">
<HTML>
	<HEAD>
		<TITLE>intern.ntb.no</TITLE>
		<link rel="stylesheet" href="css/styles.css">
	</HEAD>
	<frameset cols="3,*" border="0" frameborder="0" framespacing="0">
		<frame name="leftspace" src="dummy.htm" marginwidth="0" marginheight="0" scrolling="no" frameborder="0">
		<frameset rows="106,*" frameborder="0">
			<frame name="header" src="../header.aspx" marginwidth="0" marginheight="0" scrolling="no" frameborder="0">
			<frameset cols="120,5,*">
				<frame name="lefmenu" src="../leftmenu.aspx" marginwidth="0" marginheight="0" scrolling="auto" frameborder="0">
				<frame name="space" src="dummy.htm" marginwidth="0" marginheight="0" scrolling="no" frameborder="0">
				<frameset cols="675,*">
					<frame src="main-frameset.aspx?search=<%= search %>" name="main" id="main" frameborder="0" scrolling="auto" marginwidth="0" marginheight="0" noresize>
				</frameset>
			</frameset>
		</frameset>
	</frameset>

</HTML>
